name: CI
on: [push, pull_request]

jobs:
  run-linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Setup Python 3.13
        uses: actions/setup-python@v4
        with:
           python-version: '3.13'
      - name: Bootstrap the project and install all dependencies
        run: make
      - name: Run all linting
        run: make lint

  run-tests:
    needs: run-linting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Setup Python 3.x
        uses: actions/setup-python@v4
        with:
           python-version: ${{ matrix.python-version }}
      - name: Bootstrap the project and install all dependencies
        run: make
      - name: Show all versions
        run: pip list
      - name: Run the testsuite
        run: make cov
